#Установка переменных окружения для ClickHouse
CH_SERVER=192.168.1.53:8123
CH_USER=default
CH_PASSWORD=
CH_DATABASE=tjournal

# Список событий которые планируется выгружать.
EVENT_LIST="EXCP,EXCPCNTX,TLOCK,TTIMEOUT,SDBL"
